<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://smarta200138-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://smarta200138-001-site1.dtempurl.com:8172/msdeploy.axd?site=smarta200138-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>smarta200138-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>smarta200138-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChildAbuse.Data.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5063.site4now.net;Initial Catalog=db_a75b55_childabuse;User ID=db_a75b55_childabuse_admin;Password=Horlarlekhan1#" Name="Data Source=SQL5063.site4now.net;Initial Catalog=db_a75b55_childabuse;User Id=db_a75b55_childabuse_admin;Password=Horlarlekhan1#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ChildAbuse.Data.ApplicationDbContext, ChildAbuse" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ChildAbuse.Data.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5063.site4now.net;Initial Catalog=db_a75b55_childabuse;User Id=db_a75b55_childabuse_admin;Password=Horlarlekhan1#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ChildAbuse.Data.ApplicationDbContext" />
  </ItemGroup>
</Project>